




.list li {
    position: relative;
    text-align: left;
    clear: both;
    padding:20px;
}

.list li div{
    float:left;
}



/**************MINE**********************/

body{
    overflow:hidden;
}

ul.list{
    border: #404141 thin solid;
    border-top: #404141 thin solid;
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}

ul li{
    border-bottom: 1px solid #9daca9;
    padding:10px;
}

#inner-container{
    margin:0 150px 50px 150px;   
}

form{
    
}

h1{
    font-size: 2em;
}

.form-errors{
    color:#ec514e;
}

.float-right{
   float:right;
}

.float-left{
    float:left;
}

#save{
    width:300px;
}

