
<div class="navigation-bar">    


    <h1 class="center">Add/Edit Contact</h1>

</div>

<div class='center' id="inner-container">
    <br />
    <input type="text" class="topcoat-text-input--large two-thirds two-thirds" id="name" placeholder="name" required value="<%= name %>">
    <br />
    <br />

    <input type="email" class="topcoat-text-input--large two-thirds" id="email" placeholder="email" value="<%= email %>" >
    <br />
    <br />
    
    <input type="text" class="topcoat-text-input--large two-thirds" id="country" placeholder="country" value="">
    <br />
    <br />
    
    <input type="text" class="topcoat-text-input--large two-thirds" id="phone" placeholder="phone" value="<%= phone %>" >
    <br />
    <br />

    
    <button class="topcoat-button--large--cta" id="save">Save</button>
</div>
 
