
<div class="navigation-bar">    


    <h1 class="center">Add/Edit Contact</h1>

</div>

<div class='center' id="inner-container">
    <br />
    <input type="text" class="topcoat-text-input--large two-thirds two-thirds" id="name" placeholder="name" required pattern="[a-zA-Z0-9\s]+" value="<%= model.name %>">
    <br />
    <br />

    <input type="email" class="topcoat-text-input--large two-thirds" id="email" placeholder="email" value="<%= model.email %>" >
    <br />
    <br />
    
    <input type="text" class="topcoat-text-input--large two-thirds" id="country" placeholder="country" value="<%= model.country %>">
    <br />
    <br />
    
    <input type="text" class="topcoat-text-input--large two-thirds" id="phone" placeholder="phone" value="<%= model.phone %>" >
    <br />
    <br />
    <div id="errors"></div>
    
    <button class="topcoat-button--large--cta" id="save">Save</button>
</div>
 
