<div class="topcoat-navigation-bar">    
    <div class="topcoat-navigation-bar__item left quarter">     
        <a class="topcoat-icon-button--quiet back-button" href="#">     
            <span class="topcoat-icon topcoat-icon--back"></span>       
        </a>    
    </div>  
    <div class="topcoat-navigation-bar__item center half">
        <h2 class="topcoat-navigation-bar__title">Latest Games</h2>
    </div>      
    <div class="topcoat-navigation-bar__item right quarter">     
        <a class="topcoat-icon-button--quiet" href="#main">     
             <img class="topcoat-icon" src="./img/home_white.png" />          
        </a>    
    </div>  
    
</div>



<ul class="topcoat-list">
<% 
    var sunken = "";
    var score = "";
    var network = "";
    var clickable = false;

    _.each(games, function(game) { 
        
         if(game.status_id==0){  
        
            //clickable?
            sunken = "sunken";
            clickable = false;
            
            //score?
            score = game.team_home_name + " v " + game.team_away_name;
            
            //network
            //network = 'This match network is closed and opens in '+Math.abs(game.days_open)+' days, '+Math.abs(game.hours_open)+' hours and '+game.minutes_open+' minutes';  
            network = 'This match network is closed and opens '+moment(game.opens).calendar();          
         }  
        else if(game.status_id==1){

            //clickable?
            sunken = "";
            clickable = true;
            
            //score?
            score = game.team_home_name + " v " + game.team_away_name;
            
            //network
            network = 'This match network is open';  
          
        }//  
        else if(game.status_id==2){

            //clickable?
            sunken = "";
            clickable = true;
            
            //score?
            score = game.team_home_name + ' ' + game.runningscore + '(L) ' + game.team_away_name;
            
            //network
            network = 'This match network is open and the game is live'; 
                     
        }
        else if(game.status_id==3){
        
            //clickable?
            sunken = "";
            clickable = true;
            
            //score?
            score = game.team_home_name + ' ' + game.runningscore + '(r) ' + game.team_away_name;
            
            //network
           // network = 'This match network is open and closes ' + Math.abs(game.days_close) + ' days, ' + Math.abs(game.hours_close)+' hours and '+game.minutes_close+' minutes'; 
             network = 'This match network is open and closes ' + moment(game.closes).calendar();
             
             console.log('game.closes is ');
             console.log(game.closes);
             
        }
        else{
      
            //clickable?
            sunken = "sunken";
            clickable = false;
            
            //score?
            score = game.team_home_name + ' ' + game.runningscore + '(r) ' + game.team_away_name;
            
            //network
            network = 'This match network is closed';  

        }
        

%>

<li class="topcoat-list__item <%= sunken %>" >
            <% if(clickable){       
            %>
            <a href="#game-details/<%= game.id %>">     
            <%
            } 

            %>
            <h2><img src="./img/badges/<%= game.path_one %>.png" />     
                <span><%= score %></span>    
                <img src="./img/badges/<%= game.path_two %>.png" />     
            </h1>
            <h3>Kick Off: <%= moment(game.kick_off).calendar() %></h2>
            <h4>
                <%= network %>
            </h4>
            <% if(clickable){ 
                    print('</a>');
                }
           %>
    </li>
<% }); %>
</ul>

    <%
    console.log('games is ');
    console.log(games.length);
    if(games.length==0){
        %>
        <div id='content-container'>
            <h3>There are no current match networks.</h3> 
            <h4>Match networks are open for 5 days - 3 days before the game, 
                the day of the game, and the day after. Check back here within 3 days of the next game!
            </h4>
        </div>    
        <%
    }
%>
